*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
  background: #ECF8F1;
  margin: 0;
  padding: 16px;
}

.page-wrapper {
  max-width: 1082px;
  margin: 0 auto;
}

/* ===== ヘッダー ===== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 12px;
  padding: 14px 16px;
  background: linear-gradient(90deg, #00E2A5, #7DFF86);

  border-radius: 10px;
}

.header h1 {
  margin: 0;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #fff;
  text-shadow:
    -1px -1px 0 #43E4B7,
    1px -1px 0 #43E4B7,
    -1px 1px 0 #43E4B7,
    1px 1px 0 #43E4B7;
}

#shareBtn {

  margin-left: 10px;

  padding: 6px 10px;
  font-size: 12px;

  border-radius: 6px;
  border: none;

  background: #fff;
  cursor: pointer;

}

/* ===== グループ ===== */

.group {
  background: #7C8089;
  padding: 2px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.group.collapsed {
  margin-bottom: 10px;
}

.group.collapsed .sub-group {
  display: none;
}

.group.collapsed .group-inner {
  padding-bottom: 4px;
}

.group.collapsed .group-title {
  margin-bottom: 0;
  padding-bottom: 4px;
}

.group-inner {
  background: #ffffff;
  border-radius: 8px;
  padding: 14px;
}

.group-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #B1CECA;
}

.group-title-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.group-name {
  font-size: 20px;
  font-weight: bold;
  color: #104257;
}

.group-name::before {
  content: "▼ ";
}

.group.collapsed .group-name::before {
  content: "▶ ";
}

/* ===== カウント ===== */

.group-count {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.sub-count {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.color-count {
  margin-left: 10px;
  font-weight: bold;
  color: #104257;
}

.sub-count .color-count {
  margin-left: 0;
}

/* ===== 中グループ ===== */

.sub-group-title {
  display: flex;
  align-items: center;

  padding: 6px 12px;
  margin-bottom: 14px;

  background: linear-gradient(90deg, #63E5D8, #e1ff9b);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.sub-group-title::before {
  content: "▼ ";
}

.sub-group.collapsed .sub-group-title::before {
  content: "▶ ";
}

.sub-group.collapsed .sub-group-inner {
  display: none;
}

.sub-group-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  align-items: start;
}

/* ===== 小グループ ===== */

.detail-group {
  border: 2px solid #B1CECA;
  background: #ECF8F1;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 12px;
}

.detail-title {
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: bold;
  color: #104257;
}

/* ===== アイテム ===== */

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.item {
  aspect-ratio: 1/1;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.item:not(.selected) {
  opacity: 0.7;
}

@media (hover:hover) {
  .item:not(.selected):hover {
    opacity: 0.8;
    transform: scale(1.03);
  }
}

.item-inner {
  width: 100%;
  height: 100%;
  padding: 3px;

  border-radius: 8px;
  background: #fff;
  transition: 0.15s;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  background: #ffffff;
  border-radius: 6px;
  display: block;

  pointer-events: none;
}

/* ===== 色 ===== */

.color-normal .item-inner {
  border: 2px solid #8ef4fe;
}

.color-normal.selected .item-inner {
  background: linear-gradient(to top, #C7FF0B, #38F4D9);
}

.color-another .item-inner {
  border: 2px solid #fbacff;
}

.color-another.selected .item-inner {
  background: linear-gradient(#f791c5, #b088ff);
}

/* ===== スマホ対応 ===== */

@media (max-width:700px) {

  body {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  #shareBtn {
    margin-left: auto;
    margin-top: 8px;
  }

  .header h1 {
    font-size: 20px;
  }

  .group-name {
    font-size: 14px;
    word-break: break-word;
  }

  .group-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .group-title-left {
    flex-direction: column;
    gap: 2px;
  }

  .group-count {
    margin-left: auto;
    text-align: right;
  }

  .sub-group-title {
    flex-wrap: wrap;
    font-size: 12px;
  }

  .sub-count {
    margin-left: auto;
    text-align: right;
    font-size: 12px;
  }

}

@media (max-width:450px) {

  .sub-group-inner {
    grid-template-columns: 1fr;
  }

}